In [8]:
#Q1
list = [2, 3, 6]
def multiplication():
  x = 1
  for i in list:
      x = x*i
  return x

multiplication()

36

In [ ]:
#Q2
tuple1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

List2 =[]
List3 =[]

for t in tuple1:
    List2.append(t[1],)
    print(List2)
List2.sort()
print(List2)

for l in List2:
    for q in tuple1:
        if l == int(q[1],):
            List3.append(q)

print(List3)

[5]
[5, 2]
[5, 2, 4]
[5, 2, 4, 3]
[5, 2, 4, 3, 1]
[1, 2, 3, 4, 5]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#Q3

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1)
d3.update(d2)

for i,j in d1.items():
  for k,n in d2.items():
    if k == i:
      d3[i]= (j + n)
      
print (d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [5]:
#Q4
x = int(input('entre a number: '))
d = dict()

for i in range( 1, x+1):
    d[i] = i*i

print(d)

entre a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [7]:
#Q5
list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def sorting():
  return(sorted(list, key = lambda x: float(x[1])))

sorting()

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]